*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    width:100%;
    height:100px;
   background-image: url('./img/kirmizimeyveler.jpg');
    background-size: auto;
    background-position: center;
    display: inline-flex;

}

.main{
    width: 100%;
    height: 100%;
}
 a{
    text-decoration: none;
    color: rgb(228, 39, 39);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
 }
 a:hover{
    background-color: #fff;
    color: #7fe95f;
 }

 

.title{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.title h1{
    color: #fff;
    font-size: 10px;
    }

.main ul li a{
        position:relative;
        text-align: center;
        text-decoration: none;
        background-color:rgb(130, 235, 177);
        font: bold 14px Tahoma;
        display: block;
        width: 140px;
        height: 20px;
        padding: 10px
  }

.main ul li a:hover {
      background-color: salmon;
      color: seashell;
  }
.main ul li a:active {
     background-color:springgreen;
     color: black;

 } 

.main ul {
    display: flex;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    height: 20px;
    width: 30px;
}  

.main li {
    width: auto;
    height: 20px;
    background-color: rgb(130, 235, 177);
    margin: 2rem;
    float: left;
}
.dateClass {
    width: 50px;
    height: 50px;
    display: inline-flex;
    }

.demo {
    display: none;
 }

 .openTo {
    background-color: rgb(156, 238, 156);
    padding: 10px;
    margin: 10px;
    display: none;
}
#ortabölüm {
    width:25rem;
    height:20rem;
    border: 5px solid #000;
    background-color:#80dbf7;
      
    text-align: left;
    
}

#images {
 background-image: url('img/kiraz1.jpg') ;
 background-position: 100%;
 background-size: 100%;
 width:25rem;
 height:20rem;
}
.text1{    
width:25rem;
height:20rem;
border: 5px solid rgb(19, 18, 18);
background-color:#d15757;
padding: 10px 10px 0 0;    
text-align: left;
margin: auto;

text-decoration: #7fe95f; 
background-position: 100%;
}